In [1]:
# Series

In [2]:
import pandas as pd

In [3]:
ice_cream = ['Vanilla', 'Chocolate', 'Caramel Nuts', 'Butterscotch']

In [4]:
pd.Series(ice_cream)

0         Vanilla
1       Chocolate
2    Caramel Nuts
3    Butterscotch
dtype: object

In [5]:
lottery = [2, 4, 6, 9, 12, 14, 18]

In [6]:
pd.Series(lottery)

0     2
1     4
2     6
3     9
4    12
5    14
6    18
dtype: int64

In [7]:
registrations = [True, False, False, True, False]

In [8]:
pd.Series(registrations)

0     True
1    False
2    False
3     True
4    False
dtype: bool

In [9]:
sushi = {
    "Salmon" : "Orange",
    "Tuna" : "Red",
    "Eel" : "Brown"
}

In [10]:
pd.Series(sushi)

Salmon    Orange
Tuna         Red
Eel        Brown
dtype: object

In [11]:
prices = pd.Series([1.5, 4.5, 2.5])

In [12]:
prices.sum()

8.5

In [13]:
prices.product()

16.875

In [14]:
prices.mean()

2.8333333333333335

In [15]:
prices.median()

2.5

In [16]:
prices.size

3

In [17]:
prices.is_unique

True

In [18]:
prices.values

array([1.5, 4.5, 2.5])

In [19]:
type(prices.values)

numpy.ndarray

In [20]:
prices.index

RangeIndex(start=0, stop=3, step=1)

In [21]:
fruits = ['Apple', 'Orange', 'Strawberry', 'Banana', 'Pineapple']
days = ['Mon', 'Tues', 'Wed', 'Thu', 'Fri']

In [22]:
pd.Series(data = fruits, index = days)

Mon          Apple
Tues        Orange
Wed     Strawberry
Thu         Banana
Fri      Pineapple
dtype: object

In [136]:
stocks = pd.read_csv("Google_Stock_Price_Test.csv").squeeze("columns")

In [137]:
stocks.tail().head(1)

         Date    Open    High     Low   Close     Volume
15  1/25/2017  829.62  835.77  825.06  835.67  1,494,500

In [45]:
len(stocks)

20

In [46]:
type(stocks)

pandas.core.frame.DataFrame

In [48]:
#dir(stocks)

In [108]:
sorted(stocks.get("Volume").head())

['1,073,000', '1,272,400', '1,335,200', '1,640,200', '1,657,300']

In [67]:
max([int(''.join(i.split(','))) for i in stocks.get("Volume")])

3246600

In [70]:
min(stocks.get("Volume"))

'1,065,900'

In [74]:
stocks.sort_values('Volume', ascending = False)

In [79]:
stocks = pd.read_csv("Google_Stock_Price_Test.csv", index_col = "Date")

In [81]:
"car" in "racecar"

True

In [82]:
2 in [1, 2, 3]

True

In [97]:
stocks.index

RangeIndex(start=0, stop=20, step=1)

In [99]:
#stocks.values

In [117]:
1 in stocks.index

True

In [180]:
stocks = pd.read_csv("Google_Stock_Price_Test.csv", usecols = ['Volume']).squeeze("columns")

In [181]:
stocks.head()

0    1,657,300
1    1,073,000
2    1,335,200
3    1,640,200
4    1,272,400
Name: Volume, dtype: object

In [182]:
stocks[1]

'1,073,000'

In [183]:
stocks[[1, 3]]

1    1,073,000
3    1,640,200
Name: Volume, dtype: object

In [184]:
stocks[2:5]

2    1,335,200
3    1,640,200
4    1,272,400
Name: Volume, dtype: object

In [189]:
stocks = pd.read_csv("Google_Stock_Price_Test.csv", index_col = 'Volume', usecols = ['Volume', 'High']).squeeze("columns")

In [187]:
stocks.head()

Volume
1,657,300    789.63
1,073,000    791.34
1,335,200    794.48
1,640,200    807.90
1,272,400    809.97
Name: High, dtype: float64

In [192]:
stocks.get('1,657,300')

789.63

In [193]:
print(stocks.get(2522))

None

In [194]:
print(bind.get(2522, 'Not_Exist'))

Not_Exist

In [204]:
stocks = pd.read_csv("Google_Stock_Price.csv", index_col = 'Volume', usecols = ['Volume', 'High']).squeeze("columns")

In [205]:
stocks.head(1)

Volume
44659096    52.082081
Name: High, dtype: float64

In [207]:
stocks[44659096] = 53

In [208]:
stocks[44659096]

53.0

In [209]:
type(stocks)

pandas.core.series.Series

In [212]:
stocks_df = pd.read_csv("Google_Stock_Price.csv", index_col = 'Volume', usecols = ['Volume', 'High'])

In [213]:
stocks_series = stocks_df.squeeze("columns")

In [217]:
stocks_series[44659096]

52.082081

In [218]:
stocks_series[44659096] = 53

In [221]:
stocks_df.head(1)
#Updating the series derived from dataframe is updating the underlying dataframe as well

          High
Volume
44659096  53.0

In [222]:
stocks_series = stocks_df.squeeze("columns").copy()

In [223]:
stocks_series[44659096]

53.0

In [224]:
stocks_series[44659096] = 54

In [225]:
stocks_df.head(1)

          High
Volume
44659096  53.0

In [226]:
stocks_series[44659096]

54.0

In [234]:
googl = (
    pd.read_csv("Google_Stock_Price.csv", usecols = ['Volume'])
    .squeeze("columns")
    .copy()
)

In [235]:
googl.head(2)

0    44659096
1    22834343
Name: Volume, dtype: int64

In [237]:
googl.sort_values(inplace = True)

In [238]:
googl.head(2)

4117    465600
2858    520600
Name: Volume, dtype: int64

In [242]:
volume = (
    pd.read_csv("Google_Stock_Price.csv", usecols = ['Volume'])
    .squeeze("columns")
    .copy()
)

In [244]:
volume.max()

82151167

In [245]:
volume.min()

465600

In [246]:
volume.median()

3778418.0

In [247]:
volume.mode()

0    1529700
1    1660500
Name: Volume, dtype: int64

In [248]:
volume.describe()

count    4.431000e+03
mean     6.444992e+06
std      7.690351e+06
min      4.656000e+05
25%      1.695600e+06
50%      3.778418e+06
75%      8.002390e+06
max      8.215117e+07
Name: Volume, dtype: float64

In [249]:
volume.head(2)

0    44659096
1    22834343
Name: Volume, dtype: int64

In [255]:
#broadcasting
volume.head() - 100
volume.head() + 1

0    44659097
1    22834344
2    18256127
3    15247338
4     9188603
Name: Volume, dtype: int64

In [262]:
volume.value_counts(ascending = False).head()

1660500    3
1529700    3
3346850    2
9680310    2
3865531    2
Name: Volume, dtype: int64

In [265]:
volume.value_counts(normalize = True).head() * 100

1660500    0.067705
1529700    0.067705
3346850    0.045137
9680310    0.045137
3865531    0.045137
Name: Volume, dtype: float64

In [266]:
stocks = (
    pd.read_csv("Google_Stock_Price.csv", usecols = ['Volume'])
    .squeeze("columns")
)

In [268]:
stocks.head()

0    44659096
1    22834343
2    18256126
3    15247337
4     9188602
Name: Volume, dtype: int64

In [273]:
stocks.apply(str).head().apply(len)

0    8
1    8
2    8
3    8
4    7
Name: Volume, dtype: int64

In [278]:
def volume_desc(volume_):
    if volume_ > 10000000:
        return "High"
    elif volume_ < 1000000:
        return "Low"
    else:
        return "Medium"

In [281]:
stocks.head()

0    44659096
1    22834343
2    18256126
3    15247337
4     9188602
Name: Volume, dtype: int64

In [282]:
stocks.apply(volume_desc).head()

0      High
1      High
2      High
3      High
4    Medium
Name: Volume, dtype: object

In [287]:
mappings = {
    44659096: "High",
    22834343: "High",
    9188602: "Low"
}

In [289]:
stocks.map(mappings).head()

0    High
1    High
2     NaN
3     NaN
4     Low
Name: Volume, dtype: object

In [290]:
mappings_series = pd.Series(mappings)

In [292]:
stocks.map(mappings_series).head()

0    High
1    High
2     NaN
3     NaN
4     Low
Name: Volume, dtype: object